.SUBSCRIBE-button{
  background-color: rgb(200, 0, 0);
  color: white;
  width: 115px;
  height: 35px;
  border: none;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
  transition: opacity 0.2s;
}

.SUBSCRIBE-button:hover{
  opacity: 0.7;
}

.SUBSCRIBE-button:active{
  opacity: 0.5;
}

.JOIN-button{
  background-color: white;
  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  color: rgb(41,118,211);
  width: 60px;
  height: 35px;
  cursor: pointer;
  transition: background-color 0.15s,
    color  0.15s,
    opacity 0.15s;

}

.JOIN-button:hover{
  background-color: rgb(41,118,211);
  color: white;
}

.JOIN-button:active{
  opacity: 0.5;
}

.TWEET-button{
  background-color: rgb(61, 177, 255);
  color: white;
  border: none;
  border-radius: 17.5px;
  width: 75px;
  height: 35px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 5px;
  transition: box-shadow 0.15s;
}

.TWEET-button:hover{
  box-shadow: 2.5px 5px 10px rgba(0, 0, 0, 0.15);

}